<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zjk.yak">

    <!--&lt;!&ndash; 检测网络状态 &ndash;&gt;
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    &lt;!&ndash; 缓存资源优先存入SDcard &ndash;&gt;
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    &lt;!&ndash; 允许应用程序联网，以便向我们的服务器端发送数据 &ndash;&gt;
    <uses-permission android:name="android.permission.INTERNET" />
    &lt;!&ndash;相机&ndash;&gt;
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />-->

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Yak"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/Theme.AppCompat.DayNight">

        <activity
            android:name=".ui.action.SplashActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/AppTheme.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.action.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>

        <activity android:name=".ui.action.PageActivity"
            android:theme="@style/AppTheme.DayNight.NoActionBar.Fullscreen" >
        </activity>


    </application>


</manifest>